body {
    background-color: #92a8d1;
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

h2 {
    font-weight: 900;
    font-size: 30px;
}

p {
    font-size: 25px;
}
.li {
    font-size: 25px;
}

.style {
    font-family: 'Courier New', monospace;
    color: rgb(7, 11, 231);
    text-align: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

ul {
    font-family: 'Courier New', monospace;
    font-weight: 900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #6290e6;
    position: fixed;
}

li a {
    display: block;
    color: rgb(7, 11, 231);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(7, 11, 231);
    color: white;
}

div.content {
    max-width: 1000px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}